# OSX
.DS_Store

# Node
node_modules/
npm-debug.log
yarn-error.log

# Xcode
ios/Pods/
ios/build/
ios/*.xcworkspace
ios/*.xcodeproj/xcuserdata

# Android
android/.gradle/
android/app/build/
android/build/
android/local.properties
*.apk
*.aab
*.keystore

# Metro
.metro-health-check*

# Testing
coverage/

# Environment
.env
.env.local

# IDE
.idea/
.vscode/
*.swp
*.swo

# Temporary
tmp/
temp/
